<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

    <appender name="fileAppender" class="org.apache.log4j.rolling.RollingFileAppender">
        <param name="append" value="true"/>
        <param name="threshold" value="DEBUG"/>
        <param name="immediateFlush" value="true"/>
        <rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
            <param name="ActiveFileName" value="/SmartCity_logs/smart-city.log"/>
            <param name="FileNamePattern" value="/SmartCity_logs/smart-city-%i.log"/>
            <param name="MinIndex" value="1"/>
            <param name="MaxIndex" value="12"/>
        </rollingPolicy>
        <triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
            <param name="MaxFileSize" value="104857600"/>
        </triggeringPolicy>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="(%d{dd.MM HH:mm:ss.SSS}) [%t] [%-p] [%c] - %m%n"/>
        </layout>
    </appender>

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <param name="threshold" value="INFO"/>
        <layout class="com.jcabi.log.MulticolorLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss.SSS} [%color{%-p}] [%c] - %m%n"/>
        </layout>
    </appender>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="stdout"/>
    </root>
</log4j:configuration>