/*https://codepen.io/jasonleewilson/pen/gPrxwX*/
#clock {
  font-size: calc(10px + 2vw);
  font-family: Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-variant: small-caps;
  font-weight: lighter;
  text-align: left;
  color: #fff;
  border-left: 3px solid #ed1f24;
  padding-left: calc(10px + 0.5vw);
}
